<div class="container mt-4 p-4 border rounded shadow bg-light" style="width: 80%;">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="mb-4 text-center text-primary fw-bold">Available Importers</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="bg-white p-3 rounded shadow-sm">
                <app-listing-table 
                    [categories]="categories" 
                    [dataObject]="dataObject"
                    [isClickeable]="true"
                    (rowClicked)="onRowClicked($event)"
                    emptyMessage="No importers available.">
                </app-listing-table>
            </div>
        </div>
    </div>
</div>
