<div class="container mt-4 p-4 border rounded shadow bg-light" style="width: 80%">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="mb-2 text-primary fw-bold">Supported Device Types</h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="bg-white p-3 rounded shadow-sm">
        <app-listing-table
          [categories]="categories"
          [dataObject]="dataObject"
          [imageCategories]="[]"
        >
        </app-listing-table>
      </div>

      <div class="col-12">
        <app-information-alert
          *ngIf="errorMessage"
          [message]="errorMessage"
          type="error"
          class="alert alert-danger"
        ></app-information-alert>
      </div>
    </div>
  </div>
</div>
