<h1 class="mb-4 text-center text-primary fw-bold">Remove Admin</h1>

<div class="container mt-2 p-4 border rounded shadow bg-light mb-4">
    <div class="row">
        <div class="col-12">
            <div class="bg-white p-3 rounded shadow-sm">
                <app-listing-filter 
                    [filterOptions]="options" 
                    (filterChange)="onFilterChange($event)">
                </app-listing-filter>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="bg-white p-3 rounded shadow-sm">
                <app-listing-table 
                    [categories]="categories" 
                    [actionCategories]="actionCategories" 
                    [dataObject]="dataObject"
                    buttonIcon="bi bi-person-x-fill">
                </app-listing-table>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-between">
            <app-listing-button 
                title="Previous" 
                class="btn btn-primary" 
                [currentOffset]="offset" 
                [changeOffset]="-offsetChange" 
                (changeOffsetEvent)="onChangeOffset($event)" 
                [disabled]="offset === 0">
            </app-listing-button>
            <app-listing-button 
                title="Next" 
                class="btn btn-primary" 
                [currentOffset]="offset" 
                [changeOffset]="offsetChange" 
                (changeOffsetEvent)="onChangeOffset($event)" 
                [disabled]="!hasMoreUsers">
            </app-listing-button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <app-information-alert 
                *ngIf="warningMessage" 
                [message]="warningMessage" 
                type="warning">
            </app-information-alert>
            <app-information-alert 
                *ngIf="errorMessage" 
                [message]="errorMessage" 
                type="error">
            </app-information-alert>
            <app-information-alert 
                *ngIf="successMessage" 
                [message]="successMessage" 
                type="success">
            </app-information-alert>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-information-alert 
                [message]="'Deletion of users who are exclusively administrators is supported, deletion of users with other roles is not supported.'" 
                class="">
            </app-information-alert>
        </div>
    </div>
</div>
